USE [master]
GO
/****** Object:  Database [Jardineria_Staging]    Script Date: 25/03/2026 10:24:26 p. m. ******/
CREATE DATABASE [Jardineria_Staging]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Jardineria_Staging', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Jardineria_Staging.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Jardineria_Staging_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Jardineria_Staging_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Jardineria_Staging].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Jardineria_Staging]
GO
/****** Object:  Table [dbo].[Clientes_Limpios]    Script Date: 25/03/2026 10:24:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes_Limpios](
	[nombre] [varchar](100) NULL,
	[ciudad] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_pedido_stg]    Script Date: 25/03/2026 10:24:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_pedido_stg](
	[codigo_pedido] [int] NULL,
	[codigo_producto] [varchar](20) NULL,
	[cantidad] [int] NULL,
	[precio_unidad] [decimal](10, 2) NULL,
	[numero_linea] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pago_stg]    Script Date: 25/03/2026 10:24:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pago_stg](
	[codigo_cliente] [int] NULL,
	[forma_pago] [varchar](40) NULL,
	[id_transaccion] [varchar](50) NULL,
	[fecha_pago] [date] NULL,
	[total] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto_stg]    Script Date: 25/03/2026 10:24:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto_stg](
	[codigo_producto] [varchar](20) NULL,
	[nombre] [varchar](255) NULL,
	[gama] [varchar](50) NULL,
	[dimensiones] [varchar](50) NULL,
	[proveedor] [varchar](100) NULL,
	[descripcion] [text] NULL,
	[cantidad_en_stock] [int] NULL,
	[precio_venta] [decimal](10, 2) NULL,
	[precio_proveedor] [decimal](10, 2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
